<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855244658078-po8o73v37l45213rcgij7ai9uh3ne0pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855244658078-po8o73v37l45213rcgij7ai9uh3ne0pl</string>
	<key>API_KEY</key>
	<string>AIzaSyD2OZyb6yCDT2cSdwKI_FWp6BWw7MNIxq0</string>
	<key>GCM_SENDER_ID</key>
	<string>855244658078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rivalPlayersDemo</string>
	<key>PROJECT_ID</key>
	<string>rival-players</string>
	<key>STORAGE_BUCKET</key>
	<string>rival-players.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855244658078:ios:ae393e36225179513af28f</string>
</dict>
</plist>